@*@model MovieStore.Core.Entities.Movie*@
@model MovieStore.Core.Models.Response.MovieDetailsModel


<style>
    #overview p{
        color:white;
    }
</style>

    <div class="container-fluid">
        <div class="row" style="background-color:black" id="overview">
            <div class="col-2 pl-lg-0 offset-lg-2">
                <img src="@Model.Movie.PosterUrl" class="img-fluid" alt="@Model.Movie.Title" />

            </div>
            <div class="col-5 offset-lg-1 px-xl-5" style="
                background-image: url(@Model.Movie.BackdropUrl);
                background-repeat:no-repeat;
                background-size:cover">
                <div class="row">
                    <h1 class="text-white">@Model.Movie.Title</h1>

                </div>
                <div class="row">
                    <p>@Model.Movie.Tagline</p>
                </div>
                <div class="row">
                    <div class="col pl-lg-0">
                        <span>@Model.Movie.RunTime m | @Model.Movie.ReleaseDate.Value.ToString("yyyy")</span>
                    </div>
                    <div class="col">
                        <p>
                            @foreach (var item in Model.Movie.MovieGenres)
                            {
                            <span class="badge badge-pill badge-secondary">@item.Genre.Name</span>
                            }
                        </p>

                    </div> 
                </div>
                <div class="row">
                    <span class="badge badge-warning">@Model.Movie.Rating.Value.ToString("F")</span>
                </div>
                <div class="row">
                    <p class="small">@Model.Movie.Overview</p>
                </div>
            </div>
            <div class="col-2 pt-lg-3">
                @if (Model.CheckFavorite)
                {
                    <form method="post" action="/user/deletefavorite">

                        <div class="row pb-xl-2">
                            <input type="hidden" value="@Model.Movie.Id" name="movieId" />
                            <button type="submit" class="btn btn-dark btn-sm" value="UnFavorate"><i class="fas fa-heart"></i></button>
                        </div>
                    </form>
                }
                else
                {
                    <form method="post" action="/user/addfavorite">
                        <div class="row pb-xl-2">
                            <input type="hidden" value="@Model.Movie.Id" name="movieId" />
                            <button type="submit" class="btn btn-dark btn-sm"><i class="far fa-heart"></i></button>



                        </div>
                    </form>
                }

                <div class="row pb-xl-2 pr-xl-4">
                    <a class="btn btn-dark btn-block" href="/User/Review/@Model.Movie.Id"><i class="fa fa-edit"></i>REVIEW</a>
                </div>
                <div class="row pb-xl-2 pr-xl-4">

                    <a class="btn btn-dark btn-block" href="#"><i class="fa fa-play"></i>TRAILER</a>
                </div>
                @if (Model.CheckBought)
                {
                    <div class="row pb-xl-2 pr-xl-4">
                        <a class="btn btn-dark btn-block" href="#"><i class="fa fa-play"></i>WATCH</a>
                    </div>

                }
                else
                {
            <form method="post" action="/User/Purchase">
                <div class="row pb-xl-2 pr-xl-4">
                    <input type="hidden" value="@Model.Movie.Id" name="movieId" />

                    <button class="btn btn-dark btn-block" type="submit">BUY @Model.Movie.Price</button>

                    @*<a class="btn btn-dark btn-block" href="/User/Purchase">BUY @Model.Price</a>*@
                </div>
            </form>
                }

            </div>

                </div>
        <div class="row pt-xl-3">
            <div class="col-4" style="background-color: #F8F9FA;">
                <div class="row border-bottom px-xl-2">
                    <h5>MOVIE FACTS</h5>
                </div>
                <div class="row border-bottom border-top px-xl-3">
                    <p class="my-lg-1">
                        <i class="fa fa-calendar"></i>
                        Release Date
                        <span class="badge badge-pill badge-secondary"> @Model.Movie.ReleaseDate.Value.ToShortDateString()</span>

                    </p>
                </div>                
                <div class="row border-bottom border-top px-xl-3">
                    <p  class="my-lg-1">
                        <i class="fa fa-hourglass"></i>
                        Run Time
                        <span class="badge badge-pill badge-secondary">  @Model.Movie.RunTime m</span>
                    </p>
                </div>                
                <div class="row border-bottom border-top px-xl-3">
                    <p  class="my-lg-1">
                        <i class="fa fa-money-bill"></i>
                        Box Office
                        <span class="badge badge-pill badge-secondary"> $@Model.Movie.Revenue</span>
                    </p>
                </div>                
                <div class="row border-bottom border-top px-xl-3">
                    <p  class="my-lg-1">
                        <i class="fa fa-dollar-sign"></i>
                        Budget
                        <span class="badge badge-pill badge-secondary"> $@Model.Movie.Budget</span>
                    </p>
                </div>                
                <div class="row border-top px-xl-3">
                    <p class="my-lg-1">
                        <a href="@Model.Movie.ImdbUrl">
                            <i class="fab fa-imdb"></i>
                        </a>
                        
                        <i class="fa fa-share-square"></i>
                    </p>
                   
                </div>                
            </div>
            <div class="col-6" style="padding-left:150px;">
                <div class="row">
                    <h5>CAST</h5>
                </div>
                @foreach (var cast in Model.Movie.MovieCasts)
                {
                    <div class="row border-bottom border-top">
                        <div class="col-4">
                            <img class="img-fluid rounded-circle" src="@cast.Cast.ProfilePath" alt="@cast.Cast.Name" style="height:60px;"/>
                        </div>                       
                        <div class="col-4">
                            <p>@cast.Cast.Name</p>
                            
                        </div>                       
                        <div class="col-4">
                            <p>@cast.Character</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*<div class="row">
            <div class="row">
                <h2>Casts: </h2>
            </div>
            <div class="row">
                @foreach (var cast in Model.MovieCasts)
                {

                    <div >
                       
                            
                        <a src="@cast.Cast.ProfilePath">
                            <h5>@cast.Cast.Name</h5>
                        </a>
                            
                            <p class="card-text">CastID: @cast.CastId</p>
                            <p class="card-text">Characters: @cast.Character</p>
                        

                    </div>



                }
            </div>*@
               
           

        @*</div>*@
    </div>

